<div class="body">
<h1 class="textT">PIEDRA PAPEL O TIJERAS, JUEGO DE MESA</h1>
<div class="container">
  <div class="player player1">
    <span>Jugador 1</span>
    <div class="container">
      <div *ngFor="let options of showOption">
        <button class="button buttonP1" id="select1" (click)="asignOption(options.name)"><img class="imgP" src="{{options.img}}" alt=""></button>
      </div>
    </div>
  </div>

  <div class="player player2">
    <span class="textT">Jugador 2</span>
    <div *ngIf="player2 =='papel'">
      <img class="imgP" src="./assets/Papel.png" alt="">
    </div>
    <div *ngIf="player2 =='tijera'">
      <img class="imgP" src="./assets/Tijeras.png" alt="">
    </div >
    <div *ngIf="player2 =='piedra'">
      <img class="imgP" src="./assets/Piedra.png" alt="">
    </div>
  </div>
</div>

<div class="buttonContainer">
  <button class="BPlay" (click)="pptEnAccion()">Play</button>
</div>
<h1 class="textT">{{resultado}}</h1>
</div>


