
.imgP2{
  transform: rotate(180deg);
}

.container{
  display: flex;
  justify-content: space-around;
}


.player{
  margin: 2rem;
  color: #eeeeee;
  text-align: center;
  font-size: 40px;
}

.imgP{
  width: 15rem;
}

.buttonContainer{
  width: max-content;
  height: max-content;
  margin: auto;
}

.button:focus{
  background-color: sandybrown;
}

.BPlay{
  padding: 1rem 2rem;
}

.text{
  text-align: center;
}

.textT{
  color: white;
  text-align: center;
  font-size: 40px;
}
