body{
  box-sizing: border-box;
}

.papel, .piedra{
  transform: rotate(180deg);
}

.container{
  display: flex;
  justify-content: center;
}

.player{
  /*border: 2px solid #24292e;*/
  width: max-content;
  margin: 2rem;
}

.buttonContainer{
  width: max-content;
  margin: auto;
}

.button{
  padding: 1rem 2rem;
}

.text{
  text-align: center;
}
